.addPassword {
    margin: auto;
}

.addPassword h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.addPassword form {
    border: black solid 2px;
    padding: 5rem 10rem;
    border-radius: 10px;
    background-color: #f0f5f9;
}

.addPassword form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #333;
    border-radius: 5px;
    width: 100%;
    background-color: #f0f5f9;
}

.addPassword form input:hover {
    background-color: #c5c8cc;
}