.addPassword {
    display: flex;
    justify-content: center;
    height: 75vh;
    margin: auto;
}

.addPasswordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 12rem;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px black;
}

#addPassword {
    display: flex;
    flex-direction: column;
    width: 150%;
}

#addPassword label {
    margin: 0.5rem 0;
}

#addPassword input {
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
}

.SubmitButtonContainer {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addPasswordButton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    cursor: pointer;
    margin: 0.5rem 0;
}