@import url("../../variables.css");

.PasswordPage {
    display: flex;
    justify-content: center;
    height: 75vh;
    align-self: center;
    width: 80%;
}

.PasswordPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: black 3px solid;
    box-shadow: black 0 0 10px;
}

.PasswordContainer {
    border: black 2px solid;
    border-radius: 10px;
    padding: 2rem 4rem;
    box-shadow: 0 0 10px black;
}

.spanBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    border: black 2px solid;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.small {
    font-size: small;
}