.PasswordPage {
    border: black solid 2px;
    margin: auto;
    padding: 20rem 10rem;
    border-radius: 15px;
}

.PasswordPage h1 {
    text-align: center;
}

.passwordContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: black solid 1px;
    border-radius: 15px;
    background-color: #c5c8cc;
}

#password {
    font-family: Bahnschrift, serif;
}